#d-spinner-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  /* center */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background */
  background-color: #0084cc;
  background-image: radial-gradient(at 0% bottom, rgba(72, 131, 160, 0.7) 0%, rgba(72, 131, 160, 0) 60%), radial-gradient(at 90% bottom, #3f728c 0%, rgba(63, 114, 140, 0) 40%), radial-gradient(at 50% top, rgba(84, 149, 182, 0.6) 0%, rgba(84, 149, 182, 0) 75%), radial-gradient(at right top, #4a85a2 0%, rgba(74, 133, 162, 0) 57%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#d-spinner-overlay svg {
  overflow: visible; /* for dots */
}

.d-spinner {
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 0.3, 1);
          animation-timing-function: cubic-bezier(0, 1, 0.3, 1);
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}
.d-spinner.d-spinner1 {
  -webkit-animation-name: dSpinnerOne;
          animation-name: dSpinnerOne;
  fill: #759caf;
}
.d-spinner.d-spinner2 {
  -webkit-animation-name: dSpinnerTwo;
          animation-name: dSpinnerTwo;
  fill: #a3becb;
}
.d-spinner.d-spinner3 {
  -webkit-animation-name: dSpinnerThree;
          animation-name: dSpinnerThree;
  fill: #d0dde4;
}
@-webkit-keyframes dSpinnerOne {
  0% {
    opacity: 0;
    fill: #b6cad4;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  7% {
    opacity: 1;
    fill: #b6cad4;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
  57% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #759caf;
  }
  74% {
    opacity: 1;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
            animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  83% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes dSpinnerOne {
  0% {
    opacity: 0;
    fill: #b6cad4;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  7% {
    opacity: 1;
    fill: #b6cad4;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
  57% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #759caf;
  }
  74% {
    opacity: 1;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
            animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  83% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
}
@-webkit-keyframes dSpinnerTwo {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  3% {
    opacity: 0;
    fill: #e4ecf0;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  10% {
    opacity: 1;
    fill: #e4ecf0;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #a3becb;
  }
  71% {
    opacity: 1;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
            animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  79% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes dSpinnerTwo {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  3% {
    opacity: 0;
    fill: #e4ecf0;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  10% {
    opacity: 1;
    fill: #e4ecf0;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
  60% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #a3becb;
  }
  71% {
    opacity: 1;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
            animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  79% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
}
@-webkit-keyframes dSpinnerThree {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  6% {
    opacity: 0;
    fill: white;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  13% {
    opacity: 1;
    fill: white;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
  63% {
    fill: #d0dde4;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  68% {
    opacity: 1;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
            animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  76% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes dSpinnerThree {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  6% {
    opacity: 0;
    fill: white;
    -webkit-transform: rotateZ(-65deg) scale(0.6);
            transform: rotateZ(-65deg) scale(0.6);
  }
  13% {
    opacity: 1;
    fill: white;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
  63% {
    fill: #d0dde4;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  68% {
    opacity: 1;
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 0);
            animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  76% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateZ(45deg) scale(0.61);
            transform: rotateZ(45deg) scale(0.61);
  }
}
