// vim: sts=2:ts=2:sw=2
.d-spinner {
  animation-duration: 2.4s;
  animation-timing-function: cubic-bezier(0, 1, 0.3, 1);
  animation-direction: normal;
  animation-iteration-count: infinite;
  transform-origin: left bottom;
}

$colors1: #759caf, #b6cad4;
$colors2: #a3becb, #e4ecf0;
$colors3: #d0dde4 #ffffff;

$colors_all: $colors1, $colors2, $colors3;
@for $i from 1 through length($colors_all) {
  $colors: nth($colors_all, $i);

  .d-spinner.d-spinner#{$i} {
    animation-name: spinner-anim#{$i};
    fill: nth($colors, 1);
  }

  @keyframes spinner-anim#{$i} {
  }

}

@keyframes spinner-anim1 {
  0% {
    opacity: 0;
    fill: nth($colors1, 2);
    transform: rotateZ(-65deg) scale(0.6);
  }
  7% {
    opacity: 1;
    fill: nth($colors1, 2);
    transform: rotateZ(0) scale(1);
  }
  57% {
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: nth($colors1, 1);
  }
  74% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  83% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes spinner-anim2 {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  3% {
    opacity: 0;
    fill: nth($colors2, 2);
    transform: rotateZ(-65deg) scale(0.6);
  }
  10% {
    opacity: 1;
    fill: nth($colors2, 2);
    transform: rotateZ(0) scale(1);
  }
  60% {
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: nth($colors2, 1);
  }
  71% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  79% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
@keyframes spinner-anim3 {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }
  6% {
    opacity: 0;
    fill: nth($colors3, 2);
    transform: rotateZ(-65deg) scale(0.6);
  }
  13% {
    opacity: 1;
    fill: nth($colors3, 2);
    transform: rotateZ(0) scale(1);
  }
  63% {
    fill: nth($colors3, 1);
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  68% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }
  76% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}
