<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta httpEquiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="mobile-web-app-capable" content="yes">
    <title>ENS Redirect</title>
    <meta name="description" content="Ethereum name system redirect">
    <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
  </head>
  <body>


  </body>
</html>
