<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta httpEquiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="mobile-web-app-capable" content="yes">
    <title>ENS Redirect</title>
    <meta name="description" content="Ethereum name system redirect">
    <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
  </head>
  <body>
    <div id="d-spinner-overlay">
      <svg width="30%" style="max-height: 30%; max-width: 240px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.73 12">
        <text
          fill='#444444'
          text-anchor='middle'
          font-style='normal'
          font-family='sans-serif'
          font-size="0.88194448px"
          font-variant='normal'
          font-weight='normal'
          x="3.2826202"
          y="11.1"
          id="d-text">
        Loading...
        </text>

        <g id="d-dot" class="d-dot" style="display: none">
        <path id="d-dot0" d="M1.832 9.456a.2.2 0 0 1 .18-.198.2.2 0 0 1 .215.161.2.2 0 0 1-.141.229.2.2 0 0 1-.24-.12"/>
        <path id="d-dot1" d="M3.066 9.456a.2.2 0 0 1 .181-.198.2.2 0 0 1 .215.161.2.2 0 0 1-.142.229.2.2 0 0 1-.24-.12"/>
        <path id="d-dot2" d="M4.3 9.456a.2.2 0 0 1 .182-.198.2.2 0 0 1 .214.161.2.2 0 0 1-.141.229.2.2 0 0 1-.24-.12"/>
        </g>

        <g class="d-spinner d-spinner1">
        <path d="M3.308.147V5.75l.056.057 2.6-1.537-2.6-4.315z"/>
        <path d="M3.364 3.087V-.046L.764 4.27l2.6 1.537z"/>
        </g>

        <g class="d-spinner d-spinner2">
        <path d="M5.965 4.269l-2.6-1.182v2.719z"/>
        <path d="M3.364 5.806v-2.72L.764 4.27z"/>
        </g>

        <g class="d-spinner d-spinner3">
        <path d="M3.332 6.337v1.995l.032.094 2.602-3.664-2.602 1.536z"/>
        <path d="M3.364 6.298l-2.6-1.536 2.6 3.664z"/>
        </g>
      </svg>
      <div id="input" style="display: none;">
        <form>
          <div style="color: #ffffff; text-align: center;">
            We are redirecting you to the Ethereum name system (ENS) domains.
          </div>
          <div style="margin: 8px; text-align: center;">
            <input type="text" value="ethereum.eth" />
            <button id="input-submit" type="submit">Go</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
